<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>


<section class="chats-view">
<div class="apple-search">
  <input type='text' id='contactSearch' placeholder='Search'>
</div>
    <div id='segmentedPanel' class='horizontal centered'></div>
    <div id="toggle-panels">
        <!-- Friends -->
      <div class="">
        <ul class='list'>
        <li class='comp'>
             <aside>
                <span class="default-icon"><img title='' src="/images/hannah.png" style="height: 52px;"></span>
             </aside>
             <div>
                <h3>Hannah Richards</h3>
                <h4>Hey! How are you?</h4>
             </div>
             <aside>
                <span class='nav'></span>
             </aside>
          </li>
          <li class='comp chat-button'>
             <aside>
                <span class="default-icon"><img title='' src="/images/james.png" style="height: 52px;"></span>
             </aside>
             <div>
                <h3>James Adams</h3>
                <h4>You didn't call me back!</h4>
             </div>
             <aside>
                <span class='nav'></span>
             </aside>
          </li>
          <li class='comp'>
             <aside>
                <span class="default-icon"><img title='' src="/images/harry.png" style="height: 52px;"></span>
             </aside>
             <div>
                <h3>Harry Adams</h3>
                <h4>Yeah i'll be on Skype around 8</h4>
             </div>
             <aside>
                <span class='nav'></span><!-- <span class='show-detail'></span> -->
             </aside>
          </li>
          <li class='comp'>
             <aside>
                <span class="default-icon"><img title='' src="/images/max@2x.png" style="height: 52px;"></span>
             </aside>
             <div>
                <h3>Max Andrews</h3>
                <h4>Are you up for Saturday?</h4>
             </div>
             <aside>
                <span class='nav'></span>
             </aside>
          </li>
        </ul>
        </div>

        <!-- Groups -->
    <div class="groups-tab">
        <ul class='list'>
          <li class='comp group-button'>
             <aside>
                <span class="default-icon"><img title='' src="/images/group-2.png" style="height: 52px;"></span>
             </aside>
             <div>
                <h3>Sunday Football</h3>
                <h4>Organising weekly kickabouts</h4>
             </div>
             <aside>
                <span class='nav'></span>
             </aside>
          </li>
          <li class='comp'>
             <aside>
                <span class="default-icon"><img title='' src="/images/group-3.png" style="height: 52px;"></span>
             </aside>
             <div>
                <h3>Glastonbury Festival</h3>
                <h4>Upcoming festival plans</h4>
             </div>
             <aside>
                <span class='nav'></span>
             </aside>
          </li>
          <li class='comp'>
             <aside>
                <span class="default-icon"><img title='' src="/images/group-4.png" style="height: 52px;"></span>
             </aside>
             <div>
                <h3>Brighton Dome gig</h3>
                <h4>Gigs plan in Brighton</h4>
             </div>
             <aside>
                <span class='nav'></span>
             </aside>
          </li>
          <li class='comp'>
             <aside>
                <span class="default-icon"><img title='' src="/images/group4b.png" style="height: 52px;"></span>
             </aside>
             <div>
                <h3>Jake's Birthday</h3>
                <h4>Jake's 22nd birthday night plan</h4>
             </div>
             <aside>
                <span class='nav'></span><!-- <span class='show-detail'></span> -->
             </aside>
          </li>
        </ul>
      </div>
    </div>
</section>
