<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<article id='main'>
    <section class='edit_profile'>
         <ul class="list profile-pic">
             <li class='comp profile_pic_btn profile-container' data-goto>
               <aside class="profile-top">
                  <img style="vertical-align: middle;height: 30px;" src="/images/profile-edit@2x.png" />
               </aside>
               <div>
                  <h3>Profile Picture</h3>
               </div>
            </li>
            <li class='comp profile_pic_btn profile-container' data-goto>
               <aside class="profile-bg">
                  <img style="vertical-align: middle;height: 30px;" src="/images/profile-edit-bg@2x.png" />
               </aside>
               <div>
                  <h3>Profile Picture</h3>
               </div>
            </li>
         </ul>
         <ul class='list first_name_btn'>
            <li class='comp' data-goto='people'>
               <div>
                  <h3>John</h3>
               </div>
               <aside>
                  <h4>First Name</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp last_name_btn' data-goto=''>
               <div>
                  <h3>Smith</h3>
               </div>
               <aside>
                  <h4>Last Name</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp description_btn' data-goto=''>
               <div>
                  <h3>Description</h3>
               </div>
               <aside>
                  <h4>I heart pixels, tea a..</h4>
                  <span class='nav'></span>
               </aside>
            </li>
            <li class='comp location_btn' data-goto=''>
               <div>
                  <h3>Location</h3>
               </div>
               <aside>
                  <h4>London, UK/h4>
                  <span class='nav'></span>
               </aside>
            </li>
         </ul>            
      </section>
</article>
<div class="friend action-sheet">
  <div class="action-sheet-content">
    <a class="action-sheet-button delete_photo_btn delete-btn">Delete Photo</a>
    <a class="action-sheet-button take_photo_btn">Take Photo</a>
    <a class="action-sheet-button choose_photo_btn">Choose Existing</a>
    <a class="action-sheet-button cancel_btn">Cancel</a>
  </div>
</div>