<br>
<section>
   <ul class='list' role='list'>
      <li class='comp'> <!-- <li class='comp' ontouchend="openProfilePrivacy()"> --> <!-- Goes to Profile Privacy view-->
         <div>
            <h3>Profile</h3>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
      <li class='comp' ontouchend="openNotifications()">
         <div>
            <h3>Notifications</h3>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
   </ul>
</section>
<br>
<section>
 <ul class='list' role='list'>
     <li class='comp' data-goto="places">
         <div>
            <h3>Help</h3>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
   </ul>
</section>
<br>
<section class="clear-logout">
   <ul class='list' role='list'>
      <li class='comp' data-goto="">
         <div>
            <h3>Clear All Conversations</h3>
         </div>
<!--          <aside>
            <span class='nav'></span>
         </aside> -->
      </li>
      <li class='comp' data-goto="">
         <div>
            <h3>Log out</h3>
         </div>
<!--          <aside>
            <span class='nav'></span>
         </aside> -->
      </li>
   </ul>
</section>