<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<div class="content-padded"> 
    <p>Profile Privacy</p>  
</div>

<section>
  <ul class='list'>
    <li>
      <h3>Dummy entry 1</h3>
    </li>
    <li>
      <h3>Dummy entry 2</h3>
    </li>
    <li>
      <h3>Dummy entry 3</h3>
    </li>
    <li>
      <h3>Dummy entry 4</h3>
    </li>
    <li>
      <h3>Dummy entry 4</h3>
    </li>
  </ul>
  <p><strong>Returned: </strong><span id="response"></span></p>
</section>